@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&family=Quicksand:wght@300;400;500&display=swap");

.main {
  margin: auto;
  color: #160d08;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #fff;
  padding: 10rem 1rem 1rem 1rem;
}
.main .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 2em;
}
.main .container .col-1 {
  display: flex;
}
.main .button {
  margin: 1rem 0;
  width: 250px;
}
.main .container .image-wrap {
  display: block;
}
.main .container img {
  padding: 1rem;
  max-width: 100%;
  border-radius: 50%;
}
.main .container .col-2 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100px;
  margin-top: 15em;
  width: 70%;
}
.main h2 {
  font-size: 4rem;
  margin-bottom: 1.8rem;
}
.main .col-2 p {
  padding: 0.4rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 859px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 1300px;
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .main .container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .main .container .col-1 {
    display: flex;
  }
  .main .container .image-wrap {
    display: flex;
  }

  .main .container img {
    padding: 1rem;
    border-radius: 50%;
  }
  .main .container .col-2 {
    display: flex;
    height: 30%;
    align-content: stretch;
    margin-top: 0em;
    width: 100%;
  }
  .main.container .col-2 p {
    font-size: 0.85rem;
    line-height: 1.75rem;
    padding: 0.3rem;
  }
  
}

/* 

.about .container .col-1 .card {
  display: flex;
  width: 200px;
}
.about img {
  padding: 1rem;
  border-radius: 50%;
}
.about h2 {
  font-size: 2rem;
  margin-top: 1rem;
}

.about .button {
  margin-top: 1rem;
  font-size: small;
}
 */
